<section>
  <form action="" method="POST">
    <fieldset>
      <div>
        <legend>
          <i class="far fa-object-ungroup steps__icon"></i>Diseña<i class="fas fa-chevron-down"></i>
        </legend>
      </div>
    </fieldset>
    <fieldset>
      <div>
        <legend>
          <i class="far fa-keyboard steps__icon"></i>Rellena<i class="fas fa-chevron-down"></i>
        </legend>
      </div>
    </fieldset>
    <fieldset>
      <div>
        <legend>
          <i class="fas fa-share-alt steps__icon"></i>Comparte<i class="fas fa-chevron-down"></i>
        </legend>
      </div>
    </fieldset>
  </form>
</section>