<section>
  <form action="" method="POST">
    <!-- DISEÑA -->
    <fieldset>
      <div>
        <legend>
          <i class="far fa-object-ungroup steps__icon"></i>Diseña<i class="fas fa-chevron-down"></i>
        </legend>
      </div>
      <div>
        <h3>Colores</h3>
      </div>
      <div>
        <label for="color-palette-1">
          <input type="radio" id="color-palette-1" name="color" value="color-palette-1" />
          <div>
            <div>1</div>
            <div>2</div>
            <div>3</div>
          </div>
        </label>
        <label for="color-palette-2">
          <input type="radio" id="color-palette-2" name="color" value="color-palette-2" />
          <div>
            <div>1</div>
            <div>2</div>
            <div>3</div>
          </div>
        </label>
        <label for="color-palette-3">
          <input type="radio" id="color-palette-3" name="color" value="color-palette-3" />
          <div>
            <div>1</div>
            <div>2</div>
            <div>3</div>
          </div>
        </label>
      </div>
    </fieldset>
    <!-- RELLENA -->
    <fieldset>
      <div>
        <legend>
          <i class="far fa-keyboard steps__icon"></i>Rellena<i class="fas fa-chevron-down"></i>
        </legend>
        <div>
          <label for="name">Nombre completo</label>
          <input type="text" id="name" name="name" placeholder="Ej: Frida Kahlo" required />
        </div>
        <div>
          <label for="job">Puesto</label>
          <input type="text" id="job" name="job" placeholder="Ej: Pintora" required />
        </div>
        <div class="action">
          <button class="action__upload-btn js__profile-trigger" type="button">Get IMAGE!</button>
          <input type="file" name="" id="img-selector" class="action__hiddenField js__profile-upload-btn">
        </div>
        <div class="profile">
          <div class="profile__image js__profile-image" style="background-image:url(https://via.placeholder.com/300x300/cccccc/666666/?text=IMAGE)"></div>
          <div class="profile__preview js__profile-preview"></div>
        </div>
        <div>
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Ej: frida.Kahlo@gmail.com"
            required
          />
        </div>
        <div>
          <label for="tel">Teléfono</label>
          <input type="tel" id="tel" name="tel" placeholder="Ej: 666 66 66 66" />
        </div>
        <div>
          <label for="linkedin">LinkedIn</label>
          <input
            type="text"
            id="linkedin"
            name="linkedin"
            placeholder="Ej: linkedin.com/in/frida-kalho"
          />
        </div>
        <div>
          <label for="github">Github</label>
          <input type="text" id="github" name="github" placeholder="Ej: @frida-kalho" />
        </div>
      </div>
    </fieldset>
    <!-- COMPARTE -->
    <fieldset class="form-share">
      <div>
        <legend class="share-legend">
            <!-- cambiar estilo de iconos!!!!!!!! -->
          <i class="fas fa-share-alt share-legend__icon--share"></i>
          <h2 class="share-legend__title">Comparte</h3>
          <i class="fas fa-chevron-down share-legend__icon--arrow"></i>
        </legend>
      </div>
      <div class="create-btn">
        <button type="button" class="create-btn__button">
          <i class="far fa-address-card create-btn__icon"></i>
          Crear tarjeta
        </button>
      </div>
      <div class="success">
        <p class="success__text">La tarjeta ha sido creada:</p>
        <a href="" class="success__link">https://awesome-profile-card.com?id=A456DF0001</a>
        <a href="" title="Link para compartir en twitter" class="success__link--twitter"
          ><i class="fab fa-twitter success__icon" aria-hidden="true"></i>
          Compartir en twitter
        </a>
      </div>
    </fieldset>
  </form>
</section>
