<section class="card-preview">
  <div class="card-reset">
    <button type="reset" class="card-reset__btn js-reset" aria-label="Reset">
      <i class="far fa-trash-alt"></i>
      Reset
    </button>
  </div>
  <div class="card">
    <div class="card-head js-border">
      <h1 class="card-head__title js-name">Nombre Apellido</h1>
      <h2 class="card-head__subtitle js-job">Front-end developer</h2>
    </div>
    <div class="card__image js__profile-image"></div>
    <ul class="card-list">
      <li class="card-list__item">
        <a href="#" class="card-list__link js-tel" aria-label="Teléfono">
          <div class="card-list__icon-container js-border-tel">
            <i class="fas fa-mobile-alt card-list__icons js-color-tel"></i>
          </div>
        </a>
      </li>
      <li>
        <a
          href="mailto: irenecorreas28@gmail.com"
          class="card-list__link js-email"
          aria-label="Email"
        >
          <div class="card-list__icon-container js-border-email">
            <i class="fas fa-envelope card-list__icons js-color-email"></i>
          </div>
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com"
          class="card-list__link js-linkedin"
          target="_blank"
          aria-label="Linkedin"
        >
          <div class="card-list__icon-container js-border-linkedin">
            <i class="fab fa-linkedin-in card-list__icons js-color-linkedin"></i>
          </div>
        </a>
      </li>
      <li>
        <a
          href="https://github.com"
          class="card-list__link js-github"
          target="_blank"
          aria-label="Github"
        >
          <div class="card-list__icon-container js-border-github">
            <i class="fab fa-github-alt card-list__icons js-color-github"></i>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
