<section>
  <form action="" method="POST">
    <!-- DISEÑA -->
  
      <div>
        <legend>
          <i class="far fa-object-ungroup steps__icon"></i>Diseña<i
            class="fas fa-chevron-down"
          ></i>
        </legend>
      </div>
      <div>
        <h3>Colores</h3>
      </div>
      <div>
        <label for="color-palette-1">
          <input
            type="radio"
            id="color-palette-1"
            name="color"
            value="color-palette-1"
          />
          <div>
            <div>1</div>
            <div>2</div>
            <div>3</div>
          </div>
        </label>
        <label for="color-palette-2">
          <input
            type="radio"
            id="color-palette-2"
            name="color"
            value="color-palette-2"
          />
          <div>
            <div>1</div>
            <div>2</div>
            <div>3</div>
          </div>
        </label>
        <label for="color-palette-3">
          <input
            type="radio"
            id="color-palette-3"
            name="color"
            value="color-palette-3"
          />
          <div>
            <div>1</div>
            <div>2</div>
            <div>3</div>
          </div>
        </label>
      </div>
    </fieldset>
    <!-- RELLENA -->
    <fieldset>
      <div class="fill">
        <!-- titulo rellena -->
        <legend class="fill__container">
          <i class="far fa-keyboard"></i>
          <h3 class="fill__title">Rellena</h3>
          <i class="fas fa-chevron-down"></i>
        </legend>
        <!-- Fin titulo rellena -->
        <div class="fill__name form">
          <label for="name">Nombre completo</label>
          <input class="form__inp"
            type="text"
            id="name"
            name="name"
            placeholder="Ej: Frida Kahlo"
            required
          />
        </div>
        <div class="fill__job form">
          <label for="job">Puesto</label>
          <input class="form__inp"
            type="text"
            id="job"
            name="job"
            placeholder="Ej: Pintora"
            required
          />
        </div>
        <div class="fill__action form">
          <label for="img">Imagen de perfil</label>
          <button class="action__upload-btn js__profile-trigger" type="button">
            Añadir imagen
          </button>
          <input
            type="file"
            name=""
            id="img-selector"
            class="action__hiddenField js__profile-upload-btn"
          />
        </div>
        <div class="fill__profile form">
          <div
            class="profile__image js__profile-image"
            style="
              background-image: url(https://via.placeholder.com/300x300/cccccc/666666/?text=IMAGE);
            "
          ></div>
          <div class="profile__preview js__profile-preview"></div>
        </div>
        <div class="fill_email form">
          <label for="email">Email</label>
          <input class="form__inp"
            type="email"
            id="email"
            name="email"
            placeholder="Ej: frida.Kahlo@gmail.com"
            required
          />
        </div>
        <div class="fill_phone form">
          <label for="tel">Teléfono</label>
          <input class="form__inp"
            type="tel"
            id="tel"
            name="tel"
            placeholder="Ej: 666 66 66 66"
          />
        </div>
        <div class="fill__linkedin form">
          <label for="linkedin">LinkedIn</label>
          <input class="form__inp"
            type="text"
            id="linkedin"
            name="linkedin"
            placeholder="Ej: linkedin.com/in/frida-kalho"
          />
        </div>
        <div class="fill__github form">
          <label for="github">Github</label>
          <input class="form__inp"
            type="text"
            id="github"
            name="github"
            placeholder="Ej: @frida-kalho"
          />
        </div>
      </div>
   
    <!-- COMPARTE -->
    <fieldset>
      <div>
        <legend>
          <i class="fas fa-share-alt steps__icon"></i>Comparte<i
            class="fas fa-chevron-down"
          ></i>
        </legend>
      </div>
      <button type="button">
        <i class="far fa-address-card"></i>Crear tarjeta
      </button>
      <div>
        <p>La tarjeta ha sido creada</p>
        <a href="" title="Link para compartir en twitter"
          ><i class="fab fa-twitter" aria-hidden="true"></i>Compartir en
          twitter</a
        >
      </div>
    </fieldset>
  </form>
</section>
