<section class="card-preview">
  <div class="card-reset">
    <button type="reset" class="card-reset__btn" aria-label="Reset">
      <i class="far fa-trash-alt"></i>
      Reset
    </button>
  </div>
  <div class="card">
    <div class="card-head">
      <h1 class="card-head__title">Nombre Apellido</h1>
      <h2 class="card-head__subtitle">Front-end developer</h2>
    </div>
    <div class="card__image js__profile-image"></div>
    <ul class="card-list">
      <li class="card-list__item">
        <a href="#" class="card-list__link" aria-label="Teléfono">
          <div class="card-list__icon-container">
            <i class="fas fa-mobile-alt card-list__icons"></i>
          </div>
        </a>
      </li>
      <li>
        <a
          href="mailto: irenecorreas28@gmail.com"
          class="card-list__link"
          aria-label="Email"
        >
          <div class="card-list__icon-container">
            <i class="fas fa-envelope card-list__icons"></i>
          </div>
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com"
          class="card-list__link"
          target="_blank"
          aria-label="Linkedin"
        >
          <div class="card-list__icon-container">
            <i class="fab fa-linkedin-in card-list__icons"></i>
          </div>
        </a>
      </li>
      <li>
        <a
          href="https://github.com"
          class="card-list__link"
          target="_blank"
          aria-label="Github"
        >
          <div class="card-list__icon-container">
            <i class="fab fa-github-alt card-list__icons"></i>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
