<section class="card-preview">
  <button type="reset" class="card-reset">Reset</button>
  <i class="fas fa-trash-alt"></i>
  <div class="card">
    <h1 class="card__title">Nombre Apellido</h1>
    <h2 class="card__subtitle">Front-end developer</h2>
    <img
      class="card__image"
      src="./assets/images/Frida_Kalho.jpeg"
      alt="Fotografía de Frida Kahlo"
      title="Frida Kahlo"
    />
    <ul class="card-list">
      <li class="card-list__item">
        <a href="#" class="card-list__link">
          <i class="fas fa-mobile-alt"></i>
        </a>
      </li>
      <li>
        <a href="irenecorreas28@gmail.com" class="card-list__link">
          <i class="fas fa-envelope"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com" class="card-list__link">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com" class="card-list__link">
          <i class="fab fa-github-alt"></i>
        </a>
      </li>
    </ul>
  </div>
</section>
