<footer class="footer" role="contentinfo">
  <div class="footer__copy2020">
    <img
      src="./assets/images/logofooter.png"
      class="footer__logofrida"
      alt="Logo Frida Kards"
    />
    <small class="footer__copy">&copy 2020</small>
  </div>
  <a
    href="https://adalab.es/"
    title="Ir a la web de Adalab"
    aria-label="Ir a la web de Adalab"
  >
    <img
      src="./assets/images/logo-adalab.png"
      alt="Logo Adalab"
      title="Logotipo de Adalab"
      class="footer__logo"
      aria-label="Logotipo de Adalab"
    />
  </a>
</footer>
