// fonts
$fontMain: "Open Sans", sans-serif;
$fontLanding: "Merriweather", serif;
$fontUser: "Montserrat", sans-serif;

// colors
$colorPrimaryBackground: #fff;
$colorSecondaryBackground: #f5f5f5;
$colorBrand01: #e17334;
$colorBrand02: #f9f4dc;
$colorBrand03: #a2deaf;
$colorBrand04: #438792;
$colorBrand05: #114e4e;
$colorBrand06: #000;
$colorBrand07: #6b6b6b;
$colorBrand08: #54585a;
$colorBrand09: #c5c5c5;
