.design {
  // border: none;
  border-bottom: 1px solid #d8d8d8;
  margin: 0 20px;
}

.design__legend {
  display: grid;
  align-items: center;
  grid-template-columns: 18px 1fr 15.75px;
  grid-template-rows: 1fr;
  margin: 27px 0 0px;
  padding-bottom: 7px;
}
.design__icon {
  grid-column: 1;
  grid-row: 1;
  font-size: 18px;
  color: $colorBrand01;
}
.design__legend--title {
  text-align: left;
  grid-column: 2;
  grid-row: 1;
  font-family: $fontMain;
  font-size: 18px;
  font-weight: 600px;
  color: $colorBrand08;
  text-transform: uppercase;
  padding-left: 10px;
}
.design__arrow {
  grid-column: 3;
  grid-row: 1;
  text-align: right;
  font-size: 18px;
  color: $colorBrand08;
  transition: transform 1s ease;
}

.colors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 31px 0 0 39px;
  // opacity: 1;
  // transition: opacity 0.5s ease;

  @media all and (min-width: 768px) {
    margin-left: 20px;
  }
}
.colors__title {
  font-family: $fontMain;
  font-size: 14px;
  color: $colorBrand08;
  text-transform: uppercase;
  margin-top: -9px;
}

.color-palette-1,
.color-palette-2,
.color-palette-3 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
// Paleta de color 1
.color-palette-1 {
  margin-bottom: 20px;
}
.input1 {
  margin-right: 10px;
  width: 17px;
  height: 17px;
  border-bottom-color: red;
}
.palette1-1 {
  width: 30px;
  height: 25px;
  background-color: $colorBrand05;
}
.palette1-2 {
  width: 30px;
  height: 25px;
  background-color: $colorBrand04;
}
.palette1-3 {
  width: 30px;
  height: 25px;
  background-color: $colorBrand03;
}
// Paleta de color 2
.color-palette-2 {
  margin-bottom: 20px;
}
.input2 {
  margin-right: 10px;
  width: 17px;
  height: 17px;
}
.palette2-1 {
  width: 30px;
  height: 25px;
  background-color: #420101;
}
.palette2-2 {
  width: 30px;
  height: 25px;
  background-color: #bd1010;
}

.palette2-3 {
  width: 30px;
  height: 25px;
  background-color: #e95626;
}
// Paleta de color 3
.color-palette-3 {
  margin-bottom: 30px;
}
.input3 {
  margin-right: 10px;
  width: 17px;
  height: 17px;
}
.palette3-1 {
  width: 30px;
  height: 25px;
  background-color: #3e5b65;
}
.palette3-2 {
  width: 30px;
  height: 25px;
  background-color: #eab052;
}
.palette3-3 {
  width: 30px;
  height: 25px;
  background-color: #a0c0cf;
}

// JS classes

.hidden {
  // opacity: 0;
}

.arrow-up {
  transform: rotate(360deg);
  // transform-origin: center;
}
// palette green 1
.dark-green {
  color: $colorBrand05;
}
.green {
  border-color: $colorBrand04;
  color: $colorBrand04;
}
.green-hospital {
  border-color: $colorBrand03;
  color: $colorBrand03;
}
// palette red 2
.dark-red {
  color: #420101;
}
.red {
  border-color: #bd1010;
  color: #bd1010;
}
.orange {
  border-color: #e95626;
  color: #e95626;
}
// palette grey 3
.dark-grey {
  color: #3e5b65;
}
.yellow {
  border-color: #eab052;
  color: #eab052;
}
.grey {
  border-color: #a0c0cf;
  color: #a0c0cf;
}
