.cards-main {
  @media all and (min-width: 768px) {
    display: grid;
    grid-template-columns: 57.4% 1fr;
    grid-template-rows: 1fr;
    padding: 0 40px 20px 20px;
    background-image: linear-gradient(
    to bottom,
    $colorSecondaryBackground,
    $colorPrimaryBackground 9%
  );
  }

  @media all and (min-width: 1024px) {
    grid-template-columns: 1fr 61.03%;
  }

}