.cards-form {
  @media all and (min-width: 768px) {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    // height: 80vh;

    @media all and (min-width: 768px) {
      margin-right: 10px;
    }
  }
}

// .form-container {

// }

.fill {
  margin: 0px 20px 0 20px;
  border-bottom: 1px solid #d8d8d8;

  &__container {
    display: grid;
    align-items: center;
    grid-template-columns: 18px 1fr 15.75px;
    grid-template-rows: 1fr;
    padding: 10px 0 7px;
  }

  &__icon {
    color: $colorBrand01;
    grid-column: 1;
    grid-row: 1;
    font-size: 18px;
    text-align: left;
  }
  &__title {
    font-family: $fontMain;
    text-transform: uppercase;
    font-size: 18px;
    text-align: left;
    grid-column: 2;
    grid-row: 1;
    font-weight: 600px;
    color: $colorBrand08;
    padding-left: 10px;
  }
  &__arrow {
    grid-column: 3;
    grid-row: 1;
    text-align: right;
    font-size: 18px;
    color: $colorBrand08;
    transition: transform 1s ease;
  }

  .form {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 55px;
    justify-content: space-between;
    margin: 20px 0 20px 0;
    font-family: $fontMain;
    font-size: 14px;
    color: $colorBrand05;

    &__inp {
      height: 30px;
      border: solid 1px $colorBrand03;
      color: $colorBrand08;
      outline-color: $colorBrand01;
      font-weight: 500;
      padding: 5px 0 5px 10px;
    }
    &__inp::placeholder {
      color: $colorBrand09;
    }
  }

  // INPUT IMAGE
  .fill-container-image {
    display: flex;
    flex-direction: row;
    margin: -20px 0;
  }

  &__action {
    text-align: center;
    margin: 30px;
  }
  .action__upload-btn {
    background: $colorBrand01;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
    color: $colorPrimaryBackground;
    font-family: $fontMain;
    font-size: 14px;
    width: 140px;
    height: 30px;
    outline-color: $colorBrand01;
    cursor: pointer;
  }
  .action__hiddenField {
    /* Ocultamos el input de tipo "file" porque no podemos 
  darle los estilos que queremos */
    display: none;
  }

  &__profile {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .profile__image,
  .profile__preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #ccc;
  }
  // .profile__image {
  //   width: 300px;
  //   height: 300px;
  // }

  .profile__preview {
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }
}

// JS classes

.hidden {
  display: none;
}
