.main {
  height: 80.63vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  background-color: $colorSecondaryBackground;
  @media all and (min-width: 768px) {
    height: 94.13vh;
  }

  &__logo {
    padding-top: 13.25vh;
    padding-bottom: 4.23vh;
    @media all and (min-width: 768px) {
      padding-top: 21.96vh;
      padding-bottom: 3.22vh;
    }
  }

  &__image {
    width: auto;
    height: 95px;
    @media all and (min-width: 768px) {
      height: 190px;
      width: auto;
    }
  }

  &__title {
    font-size: 19.2px;
    font-family: $fontLanding;
    font-weight: 900;
    color: $colorBrand01;
    @media all and (min-width: 768px) {
      font-size: 24px;
    }
  }

  &__text {
    margin: 0 28px;
    font-size: 12.8px;
    font-family: $fontMain;
    font-weight: normal;
    color: $colorBrand05;
    @media all and (min-width: 768px) {
      margin: 0 218px 0 219px;
      font-size: 16px;
    }
  }

  .steps {
    width: 268px;
    height: 74px;
    display: flex;
    justify-content: space-between;
    margin: 3.89vh 0 6.5vh 0;
    padding: 15px 20px 18px 20px;
    border-radius: 4px;
    border: 1.6px solid rgba(225, 115, 52, 0.21);
    @media all and (min-width: 768px) {
      width: 325px;
      height: 86px;
      margin: 2.8vh 0 16.31vh 0;
      padding: 15px 20px 10px 20px;
      border-radius: 5px;
      border: 2px solid rgba(225, 115, 52, 0.21);
    }
    &__article {
      width: 60px;
      height: 48.8px;
      @media all and (min-width: 768px) {
        width: 75px;
        height: 61px;
      }
    }

    &__icon {
      font-size: 22.4px;
      color: $colorBrand01;
      @media all and (min-width: 768px) {
        font-size: 28px;
      }
    }

    &__text {
      font-size: 12.8px;
      font-family: $fontMain;
      font-weight: normal;
      color: $colorBrand08;
      @media all and (min-width: 768px) {
        font-size: 16px;
      }
    }
  }

  &__link {
    width: 129px;
    height: 42px;
    display: block;
    border-radius: 21px;
    background-color: $colorBrand04;
    align-self: center;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-family: $fontMain;
    font-weight: 600;
    color: $colorPrimaryBackground;
    margin-bottom: 6.55vh;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: $colorBrand01;
    }

    @media all and (min-width: 768px) {
      margin-bottom: 6.13vh;
    }
  }
}
