@import "core/variables";
@import "core/reset";
@import "layout/main";
@import "layout/cards-header";
@import "layout/cards-main";
@import "layout/cards-photo";
@import "layout/cards-design";
@import "layout/cards-share";
@import "layout/cards-form";
@import "layout/footer";

body {
  height: 100vh;
}
.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: $colorSecondaryBackground;
}
